core/xmlSchemas/algorithm/particleFilter.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2009 sp1 (http://www.altova.com) by ICT (Stichting Deltares) -->
<!--W3C Schema generated by XMLSpy v2009 sp1 (http://www.altova.com)-->
<xs:schema xmlns:openda="http://www.openda.org" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.openda.org" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:include schemaLocation="sequentialEnsembleAlgorithm.xsd"/>
	<xs:simpleType name="ST_samplingMethod">
		<xs:restriction base="xs:string">
			<xs:enumeration value="residual resampling"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:element name="ParticleFilterConfig">
		<xs:annotation>
			<xs:documentation>Configuration of Particle Filter algorithm</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="samplingMethod" type="openda:ST_samplingMethod" fixed="residual resampling" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Set the sampling method (Only one resampling method supported for the particle filter at the moment).</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element ref="openda:analysisTimes" minOccurs="0"/>
				<xs:element ref="openda:mainModel" minOccurs="0"/>
				<xs:element ref="openda:ensembleSize" minOccurs="0"/>
				<xs:element ref="openda:ensembleModel" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
