core/xmlSchemas/algorithm/sequentialSimulation.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2009 sp1 (http://www.altova.com) by ICT (Stichting Deltares) -->
<!--W3C Schema generated by XMLSpy v2009 sp1 (http://www.altova.com)-->
<xs:schema xmlns:openda="http://www.openda.org" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.openda.org" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:simpleType name="ST_times">
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:simpleType name="ST_analysisTimes">
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:complexType name="analysisTimesType">
		<xs:annotation>
			<xs:documentation>Specification of analysis times.</xs:documentation>
		</xs:annotation>
		<xs:simpleContent>
			<xs:extension base="openda:ST_analysisTimes">
				<xs:attribute name="type" use="optional" default="fromObservationTimes">
					<xs:annotation>
						<xs:documentation>Type of analysis times: fromObservationTimes (default) or fixed.</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:enumeration value="fixed"/>
							<xs:enumeration value="fromObservationTimes"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:attribute>
				<xs:attribute name="timeFormat" use="optional" default="dateTimeString">
					<xs:annotation>
						<xs:documentation>Format of analysis times: dateTimeString (default) or mjd (Modified Julian Day).</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:enumeration value="mjd"/>
							<xs:enumeration value="dateTimeString"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:attribute>
				<xs:attribute name="skipAtInitialTime" type="xs:boolean" use="optional">
					<xs:annotation>
						<xs:documentation>Option whether to skip analysis at the initial simulation time, to prevent possibility of assimilating an observation twice (from the previous assimilation cycle). Default: false.</xs:documentation>
					</xs:annotation>
				</xs:attribute>
				<xs:attribute name="skipAtFinalTime" type="xs:boolean" use="optional">
					<xs:annotation>
						<xs:documentation>Option whether to skip analysis at the final simulation time, to prevent possibility of assimilating an observation twice (at the next assimilation cycle). Default: false.</xs:documentation>
					</xs:annotation>
				</xs:attribute>
				<xs:attribute name="continueWithoutObservation" type="xs:boolean" use="optional">
					<xs:annotation>
						<xs:documentation>Option whether to continue the filter when no observation is available. Default: false.</xs:documentation>
					</xs:annotation>
				</xs:attribute>
				<xs:attribute name="timeIncrement">
					<xs:annotation>
						<xs:documentation>Analysis time increment.</xs:documentation>
					</xs:annotation>
				</xs:attribute>
				<xs:attribute name="timeOffset">
					<xs:annotation>
						<xs:documentation>Offset w.r.t. to TSTART of simulation. The first analysis time is equal to TSTART+timeOffset. Default: 0.</xs:documentation>
					</xs:annotation>
				</xs:attribute>
				<xs:attribute name="timeUnit">
					<xs:annotation>
						<xs:documentation>Unit of timeIncrement and timeOffset. When timeIncrement is specified, then timeUnit is mandatory.</xs:documentation>
					</xs:annotation>
				</xs:attribute>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="mainModelType">
		<xs:annotation>
			<xs:documentation>Selection to add noise to a model. This should probably be false unless you are performing a special experiment.</xs:documentation>
		</xs:annotation>
		<xs:attribute name="stochParameter" type="xs:boolean" use="optional" default="false">
			<xs:annotation>
				<xs:documentation>Set this to true if the model parameter is considered to be the source of uncertainty.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="stochInit" type="xs:boolean" use="optional" default="false">
			<xs:annotation>
				<xs:documentation>Set this to true if the initial condition is considered to be the source of uncertainty.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="stochForcing" type="xs:boolean" use="optional" default="false">
			<xs:annotation>
				<xs:documentation>Set this to true if the model forcing is considered to be the source of uncertainty.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:element name="SequentialSimulationConfig">
		<xs:annotation>
			<xs:documentation>Configuration of Sequential Simulation algorithm, which is simply to perform a perturbed model run.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="analysisTimes" type="openda:analysisTimesType" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Specification of analysis times.</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="mainModel" type="openda:mainModelType" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
