core/xmlSchemas/algorithm/sequentialEnsembleAlgorithm.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2009 sp1 (http://www.altova.com) by ICT (Stichting Deltares) -->
<!--W3C Schema generated by XMLSpy v2009 sp1 (http://www.altova.com)-->
<xs:schema xmlns:openda="http://www.openda.org" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.openda.org" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:include schemaLocation="sequentialSimulation.xsd"/>
	<xs:element name="times">
		<xs:annotation>
			<xs:documentation>Set the times at which the Kalman gain is to be saved.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="openda:ST_times">
					<xs:attribute name="type" use="optional" default="none">
						<xs:annotation>
							<xs:documentation>Set the type for saving Kalman gains: none (default, Kalman gain is not saved) or fixed.</xs:documentation>
						</xs:annotation>
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:enumeration value="fixed"/>
								<xs:enumeration value="none"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
					<xs:attribute name="timeFormat" use="optional" default="dateTimeString">
						<xs:annotation>
							<xs:documentation>Time format for saving Kalman gain: dateTimeString (default) or mjd (Modified Julian Day).</xs:documentation>
						</xs:annotation>
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:enumeration value="mjd"/>
								<xs:enumeration value="dateTimeString"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="saveGain">
		<xs:annotation>
			<xs:documentation>Configuration for times for saving kalman gain.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="openda:times" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Set the times at which the Kalman gain is to be saved.</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element ref="openda:file" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Set the file information in which the Kalman gain will be saved. Kalman gain will be saved at different directories for different time levels.</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="mainModel" type="openda:mainModelType">
		<xs:annotation>
			<xs:documentation>Selection to add noise to a model. This should probably be false unless you are performing a special experiment.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="file">
		<xs:annotation>
			<xs:documentation>Set the file information in which the Kalman gain will be saved. Kalman gain will be saved at different directories for different time levels.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:attribute name="xmlTypeMaxSize" type="xs:integer" use="optional" default="40">
				<xs:annotation>
					<xs:documentation>Set the maximum number of state element. When exceeded, and fileType=automatic, Kalman gain will be saved in netcdf format.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="fileType" use="optional" default="automatic">
				<xs:annotation>
					<xs:documentation>Set the file type for storing Kalman gain: xml, netcdf or automatic (default, see xmlTypeMaxSize). If automatic, and xmlTypeMaxSize is exceeded, Kalman gain will be saved in netcdf format.</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="automatic"/>
						<xs:enumeration value="xml"/>
						<xs:enumeration value="netcdf"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="fileName" use="optional" default="kalmanGainStorage.xml">
				<xs:annotation>
					<xs:documentation>Set the xml file name, which will contain the information about the Kalman gain.</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="kalmanGainStorage.xml"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="dirPrefix" use="optional" default="kgStorage_">
				<xs:annotation>
					<xs:documentation>Set the directory prefix of Kalman gain storage.</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="kgStorage_"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="ensembleSize" type="xs:integer" default="100">
		<xs:annotation>
			<xs:documentation>Set the number of ensemble members.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="ensembleModel">
		<xs:annotation>
			<xs:documentation>Selection to add noise to the ensemble members. This should probably be true unless your model has difficulty with the changes of parameters, initial state or the forcing.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:attribute name="stochParameter" type="xs:boolean" use="optional" default="false">
				<xs:annotation>
					<xs:documentation>Set this to true if the model parameter is considered to be the source of uncertainty.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="stochInit" type="xs:boolean" use="optional" default="true">
				<xs:annotation>
					<xs:documentation>Set this to true if the initial condition is considered to be the source of uncertainty.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="stochForcing" type="xs:boolean" use="optional" default="true">
				<xs:annotation>
					<xs:documentation>Set this to true if the model forcing is considered to be the source of uncertainty.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="analysisTimes" type="openda:analysisTimesType">
		<xs:annotation>
			<xs:documentation>Specification of analysis times.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="SequentialEnsembleAlgorithmConfigType">
		<xs:annotation>
			<xs:documentation>Configuration of sequential ensemble algorithm.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element ref="openda:analysisTimes" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Specification of analysis times</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element ref="openda:mainModel" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Selection to add noise to a model. This should probably be false unless you are performing a special experiment.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element ref="openda:ensembleSize" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Set the number of ensemble members.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element ref="openda:ensembleModel" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Selection to add noise to the ensemble members. This should probably be true unless your model has difficulty with the changes of parameters, initial state or the forcing.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element ref="openda:saveGain" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Configuration for times for saving kalman gain.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
