core/xmlSchemas/algorithm/steadyStateFilter.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2009 sp1 (http://www.altova.com) by ICT (Stichting Deltares) -->
<!--W3C Schema generated by XMLSpy v2009 sp1 (http://www.altova.com)-->
<xs:schema xmlns:openda="http://www.openda.org" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.openda.org" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:include schemaLocation="sequentialEnsembleAlgorithm.xsd"/>
	<xs:simpleType name="ST_time">
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:element name="SteadyStateFilterConfig">
		<xs:annotation>
			<xs:documentation>Configuration of Steady State Kalman Filter algorithm</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="openda:analysisTimes" minOccurs="0"/>
				<xs:element ref="openda:mainModel" minOccurs="0"/>
				<xs:element name="readGain">
					<xs:annotation>
						<xs:documentation>Configuration of Kalman gain file to use as steady state Kalman gain.</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element name="dirPrefix">
								<xs:annotation>
									<xs:documentation>Set the directory prefix of Kalman gain storage.</xs:documentation>
								</xs:annotation>
							</xs:element>
							<!--
							<xs:element name="time">
								<xs:complexType>
									<xs:attribute name="timeFormat" use="optional" default="dateTimeString">
										<xs:annotation>
											<xs:documentation>Time format for saving Kalman gain: dateTimeString (default) or mjd (Modified Julian Day).</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:enumeration value="mjd"/>
												<xs:enumeration value="dateTimeString"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
								</xs:complexType>
							</xs:element>
	-->
							<xs:element name="time">
								<xs:annotation>
									<xs:documentation>Set the time at which the to be used Kalman gain is stored.</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:simpleContent>
										<xs:extension base="openda:ST_time">
											<xs:attribute name="timeFormat" use="optional" default="dateTimeString">
												<xs:annotation>
													<xs:documentation>Time format for saving Kalman gain: dateTimeString (default) or mjd (Modified Julian Day).</xs:documentation>
												</xs:annotation>
												<xs:simpleType>
													<xs:restriction base="xs:string">
														<xs:enumeration value="mjd"/>
														<xs:enumeration value="dateTimeString"/>
													</xs:restriction>
												</xs:simpleType>
											</xs:attribute>
										</xs:extension>
									</xs:simpleContent>
								</xs:complexType>
							</xs:element>
							<xs:element name="file">
								<xs:annotation>
									<xs:documentation>Set the xml file name, which contains the information about the Kalman gain.</xs:documentation>
								</xs:annotation>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
