core/xmlSchemas/blackBoxStochModelConfig.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2009 sp1 (http://www.altova.com) by ICT (Stichting Deltares) -->
<xs:schema xmlns:openda="http://www.openda.org" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.openda.org" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:include schemaLocation="blackBoxModelConfig.xsd"/>
	<xs:complexType name="BlackBoxModelConfigReferenceXML">
		<xs:choice>
			<xs:annotation>
				<xs:documentation>Select one of the options</xs:documentation>
			</xs:annotation>
			<xs:element name="config" type="openda:BlackBoxModelConfigXML">
				<xs:annotation>
					<xs:documentation>Specify black box model configuration directly in the blackBoxModelConfig format</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="file" type="xs:string">
				<xs:annotation>
					<xs:documentation>Specify filename of the black box model configuration file. File format: blackBoxModelConfig</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="UncertaintyOrNoiseModelExchangeItemXML">
		<xs:attribute name="id" type="xs:string" use="required">
			<xs:annotation>
				<xs:documentation>Identity of model's exchange item</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="UncertaintyOrNoiseExchangeItemXML">
		<xs:sequence>
			<xs:element name="modelExchangeItem" type="openda:UncertaintyOrNoiseModelExchangeItemXML" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Specify one or more model exchange items on which to impose noise defined by this noise model's exchange item (for a single model ExchangeItem, use modelExchangeItemId in the attributes instead of this list)</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="id" type="xs:string" use="required">
			<xs:annotation>
				<xs:documentation>Identity of this noise model's exchange item</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="modelExchangeItemId" type="xs:string" use="optional">
			<xs:annotation>
				<xs:documentation>Identity of model's exchange item on which to impose this noise model's exchange item </xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="operation" type="openda:NoiseOperationTypesXML" use="optional" default="add">
			<xs:annotation>
				<xs:documentation>Deprecated, use attribute "transformation" instead. Type of operation to performed when noise is added to an (parameter or state) exchange item: 'add' the noise to the exchange item's values, 'multiply' the exchange item's values with the noise, or 'set' the values (used in those cases where the noise in fact is a realization).</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="transformation" type="openda:ParameterTransformationTypesXML" use="optional" default="identity">
			<xs:annotation>
				<xs:documentation>Transformation of noise variable. 'identity' means that the value will be added directly  without any transformation to the adjusted parameter. 'ln' means that the value is transformed logarithmically before it is added to the parameter; this gives a correction, which is a fraction of the parameter value.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="skipFirstTimeStep" type="xs:boolean" use="optional" default="false">
			<xs:annotation>
				<xs:documentation>If set to true, the noise is not added for the first time step of the period to be computed. This avoid adding noise twice to the boundary condition at the filtering time stamps</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="addOnlyNoiseDifference" type="xs:boolean" use="optional" default="false">
			<xs:annotation>
				<xs:documentation>If set to true, only the difference with the previous noise added. This can be usefule for noise that is added to a state.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="UncertaintyOrNoiseExchangeItemsXML">
		<xs:sequence>
			<xs:element name="exchangeItem" type="openda:UncertaintyOrNoiseExchangeItemXML" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>The list of relations</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="UncertaintyOrNoiseXML">
		<xs:sequence>
			<xs:element name="configFile" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Specify name of xml file containing configuration of the noise model. File format depends on class.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="arg" type="xs:string" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Specify list of input arguments for the noise model</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="exchangeItems" type="openda:UncertaintyOrNoiseExchangeItemsXML" minOccurs="0">
				<xs:annotation>
					<xs:documentation>The relations between the noise model's  exchange items and the model's exchange items</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="className" type="xs:string">
			<xs:annotation>
				<xs:documentation>The class name implementing the noise model</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="workingDirectory" type="xs:string" use="optional">
			<xs:annotation>
				<xs:documentation>The noise model's working directory</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="BlackBoxStochModelUncertainParameterXML">
		<xs:attribute name="id" type="xs:string" use="optional">
			<xs:annotation>
				<xs:documentation>Identity of model's exchange item</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="uncertainItemId" type="xs:string" use="optional">
			<xs:annotation>
				<xs:documentation>Identity of noise model's exchange item</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="transformation" type="openda:ParameterTransformationTypesXML" use="optional" default="identity">
			<xs:annotation>
				<xs:documentation>Transformation of noise variable. 'identity' means that the value will be added directly  without any transformation to the adjusted parameter. 'ln' means that the value is transformed logarithmically before it is added to the parameter; this gives a correction, which is a fraction of the parameter value.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="StandardDeviationXML">
		<xs:attribute name="value" type="xs:double" use="required">
			<xs:annotation>
				<xs:documentation>The standard deviation value</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="StandardDeviationAndTransformationXML">
		<xs:attribute name="value" type="xs:double" use="required">
			<xs:annotation>
				<xs:documentation>The standard deviation value</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="initial" type="xs:double" use="optional" default="0">
			<xs:annotation>
				<xs:documentation>Set the initial value of this parameter (optional)</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="transformation" type="openda:ParameterTransformationTypesXML" use="optional" default="identity">
			<xs:annotation>
				<xs:documentation>Transformation of correction factor. 'identity' means that the correction will be added directly  without any transformation to the adjusted parameter. 'ln' means that the correction is transformed logarithmically before it is added to the parameter; this gives a correction, which is a fraction of the parameter value. 'set' will set the correction directly as the parameter value</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="RegularisationConstantXML">
		<xs:sequence>
			<xs:choice>
				<xs:element name="stdDev" type="openda:StandardDeviationAndTransformationXML">
					<xs:annotation>
						<xs:documentation>Set the standard deviation of this parameter and the method how the parameter should be corrected</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="uncertainItem" type="openda:BlackBoxStochModelUncertainParameterXML">
					<xs:annotation>
						<xs:documentation>The uncertainy of this parameter is specified in the uncertaintyModule mentioned in the top of the present stochastic model configuration</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:choice>
			<xs:choice maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Select the parameter vector(s) and/or subvector(s) to adjust</xs:documentation>
				</xs:annotation>
				<xs:element name="vector" type="openda:BlackBoxStochModelVectorXML">
					<xs:annotation>
						<xs:documentation>Select the whole parameter vector</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="subVector" type="openda:BlackBoxStochModelSubVectorXML">
					<xs:annotation>
						<xs:documentation>Select only a part of the parameter vector</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:choice>
		</xs:sequence>
		<xs:attribute name="scale" type="xs:double" use="optional" default="1">
			<xs:annotation>
				<xs:documentation>Set the scaling factor for this parameter (optional)</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="id" type="xs:string" use="optional">
			<xs:annotation>
				<xs:documentation>Optional id for composed items that are all modified by the same parameter.
				If omitted, the id's of the separate item will be concatenated. Note: the (concatenated) id is mainly used by the sparse dud algorithm</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="CartesianToPolarXML">
		<xs:sequence>
			<xs:element name="stdDev" type="openda:StandardDeviationAndTransformationXML">
				<xs:annotation>
					<xs:documentation>Specify standard deviation for dx and dy                                                                             Set the standard deviation of this parameter and the method how the parameter should be corrected</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:choice minOccurs="2" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Select the sets of parameter vectors to adjust, in pairs of two: amplitude and phase</xs:documentation>
				</xs:annotation>
				<xs:element name="vector" type="openda:BlackBoxStochModelVectorXML">
					<xs:annotation>
						<xs:documentation>Select whole parameter vector</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="subVector" type="openda:BlackBoxStochModelSubVectorXML">
					<xs:annotation>
						<xs:documentation>Select only a part of the parameter vector</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:choice>
		</xs:sequence>
		<xs:attribute name="xScale" type="xs:double" use="optional" default="1">
			<xs:annotation>
				<xs:documentation>Scaling factor for dx</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="yScale" type="xs:double" use="optional" default="1">
			<xs:annotation>
				<xs:documentation>Scaling factor for dy</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="xSuffixCaption" type="xs:string" use="optional" default="dX">
			<xs:annotation>
				<xs:documentation>Name suffix for dx in the noise model exchange items</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="ySuffixCaption" type="xs:string" use="optional" default="dY">
			<xs:annotation>
				<xs:documentation>Name suffix for dy in the noise model exchange items</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="xCaption" type="xs:string" use="optional">
			<xs:annotation>
				<xs:documentation>Name for dx in the noise model exchange items</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="yCaption" type="xs:string" use="optional">
			<xs:annotation>
				<xs:documentation>Name for dy in the noise model exchange items</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="StateNoiseUncertainItemXML">
		<xs:attribute name="uncertainItemId" type="xs:string" use="optional">
			<xs:annotation>
				<xs:documentation>Identity of the uncertain item as defined in BB model configuration file.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="operation" type="openda:NoiseOperationTypesXML" use="optional" default="add">
			<xs:annotation>
				<xs:documentation>Operation type: add (default), multiply or set</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="StateNoiseUncertainItemWithArmaConstantsXML">
		<xs:sequence>
			<xs:element name="armaConstant" type="xs:double" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>ARMA constants, which reflects temporal correlation per timestep of the ARMA model.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="uncertainItemId" type="xs:string" use="optional">
			<xs:annotation>
				<xs:documentation>Identity of the uncertain item as defined in BB model configuration file.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="operation" type="openda:NoiseOperationTypesXML" use="optional" default="add">
			<xs:annotation>
				<xs:documentation>Operation type: add (default), multiply or set</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="StateNoiseArmaModelXML">
		<xs:sequence>
			<xs:element name="stdDev" type="openda:StandardDeviationXML"/>
			<xs:element name="armaConstant" type="xs:double" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>ARMA constants, which reflects temporal correlation per timestep of the ARMA model.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="operation" type="openda:NoiseOperationTypesXML" use="optional" default="add">
			<xs:annotation>
				<xs:documentation>Operation type: add (default) or multiply</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="StateNoiseAr1ModelXML">
		<xs:sequence>
			<xs:element name="stdDevColouredNoised" type="openda:StandardDeviationXML">
				<xs:annotation>
					<xs:documentation>The standard deviation of the coloured noise to be generated by the model.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="decorrelationTimeScale" type="xs:duration">
				<xs:annotation>
					<xs:documentation>Decorrelation time.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="noiseModelPeriod" type="xs:duration"/>
		</xs:sequence>
		<xs:attribute name="operation" type="openda:NoiseOperationTypesXML" use="optional" default="add">
			<xs:annotation>
				<xs:documentation>Operation type: add (default) or multiply</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="UncertaintyOrModelExchangeItemXML">
		<xs:choice>
			<xs:annotation>
				<xs:documentation>Select the way the subvector is derived from the source vector.</xs:documentation>
			</xs:annotation>
			<xs:element name="selection" type="openda:IndicesXML">
				<xs:annotation>
					<xs:documentation>Derive subvector by specifying indices of source vector.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="selector" type="openda:BlackBoxConfigurableXML">
				<xs:annotation>
					<xs:documentation>Derive subvector by using a configuration file or string.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:choice>
		<xs:attribute name="id" type="xs:string" use="required">
			<xs:annotation>
				<xs:documentation>Set the identity of this subVector.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="sourceVectorId" type="xs:string" use="optional">
			<xs:annotation>
				<xs:documentation>Specify the identity of the source vector as defined in blackBoxModelConfig.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="StateNoiseXML">
		<xs:sequence>
			<xs:element name="configFile" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Specify name of xml file containing configuration of the noise model. File format depends on class.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="exchangeItems" type="openda:UncertaintyOrNoiseExchangeItemsXML" minOccurs="0">
				<xs:annotation>
					<xs:documentation>The relations between the noise model's  exchange items and the model's exchange items</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<xs:element name="vector" type="openda:BlackBoxStochModelVectorXML">
					<xs:annotation>
						<xs:documentation>The model's vector that the noise will be added to.</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="subVector" type="openda:BlackBoxStochModelSubVectorXML">
					<xs:annotation>
						<xs:documentation>The model's vector that the noise will be added to.</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:choice>
			<xs:choice minOccurs="0">
				<xs:element name="uncertainItem" type="openda:StateNoiseUncertainItemXML">
					<xs:annotation>
						<xs:documentation>The noise model is fully specified in the uncertainty module</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="uncertainItemWithArmaConstants" type="openda:StateNoiseUncertainItemWithArmaConstantsXML">
					<xs:annotation>
						<xs:documentation>The PDF of the noise model is specified in the uncertainty module, the ARMA constants are specified here</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="armaModel" type="openda:StateNoiseArmaModelXML">
					<xs:annotation>
						<xs:documentation>Both the noise model's PDF (normal distribution) and the ARMA constants are specified here</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="ar1Model" type="openda:StateNoiseAr1ModelXML">
					<xs:annotation>
						<xs:documentation>The standard deviation and the decoralation time scale of the AR1 model is specified</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:choice>
		</xs:sequence>
		<xs:attribute name="id" type="xs:string" use="optional">
			<xs:annotation>
				<xs:documentation>Specify the identity of the noise model vector. It is required if the noise model contains more than one source vectors. If the noise model contains one subvector, it may be omitted. In that case the source (sub-)vector's id is used.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="className" type="xs:string" use="optional">
			<xs:annotation>
				<xs:documentation>The class that implements the noise model</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="workingDirectory" type="xs:string" use="optional">
			<xs:annotation>
				<xs:documentation>The working directory where the noise model is started</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="BlackBoxStochModelVectorXML">
		<xs:attribute name="id" type="xs:string" use="required">
			<xs:annotation>
				<xs:documentation>Identity of the vector</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="sourceVectorId" type="xs:string" use="optional">
			<xs:annotation>
				<xs:documentation>Identity of the source vector as defined in blackBoxModelConfig</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="BlackBoxStochModelSubVectorXML">
		<xs:choice>
			<xs:annotation>
				<xs:documentation>Select the way the subvector is derived from the source vector</xs:documentation>
			</xs:annotation>
			<xs:element name="selection" type="openda:IndicesXML">
				<xs:annotation>
					<xs:documentation>Select subvector using indices of the vector elements</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="selector" type="openda:BlackBoxConfigurableXML">
				<xs:annotation>
					<xs:documentation>Define operator for deriving the subvector</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:choice>
		<xs:attribute name="id" type="xs:string" use="required">
			<xs:annotation>
				<xs:documentation>Identity of the subVector</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="sourceVectorId" type="xs:string" use="optional">
			<xs:annotation>
				<xs:documentation>Identity of the source vector as defined in blackBoxModelConfig</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="BlackBoxStochModelParametersXML">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element name="uncertaintyModule" type="openda:UncertaintyOrNoiseXML">
				<xs:annotation>
					<xs:documentation>The uncertainty module that defines and generates the noise correction factor exchange items </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="regularisationConstant" type="openda:RegularisationConstantXML">
				<xs:annotation>
					<xs:documentation>Specify which model parameters to adjust and how</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="cartesianToPolar" type="openda:CartesianToPolarXML">
				<xs:annotation>
					<xs:documentation>Specify which model parameters to adjust and how, under a transformation of the vector representation, from Cartesian (dx,dy) to Polar (amplitude,phase)</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="BlackBoxStochModelStateXML">
		<xs:choice maxOccurs="unbounded">
			<xs:element name="noiseModel" type="openda:StateNoiseXML">
				<xs:annotation>
					<xs:documentation>Add a noise model to the state</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="vector" type="openda:BlackBoxStochModelVectorXML">
				<xs:annotation>
					<xs:documentation>Add a vector to the state</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="subVector" type="openda:BlackBoxStochModelSubVectorXML">
				<xs:annotation>
					<xs:documentation>Add a subvector to the state</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="BlackBoxStochModelVectorsXML">
		<xs:choice maxOccurs="unbounded">
			<xs:element name="vector" type="openda:BlackBoxStochModelVectorXML">
				<xs:annotation>
					<xs:documentation>Add a vector to the predictor</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="subVector" type="openda:BlackBoxStochModelSubVectorXML">
				<xs:annotation>
					<xs:documentation>Add a subvector to the predictor</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:choice>
		<xs:attribute name="collectTimeSeries" type="xs:boolean" default="false">
			<xs:annotation>
				<xs:documentation>A flag for indicating whether predictor timeseries should be kept in the memory during simulation.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="BlackBoxStochModelVectorSpecificationXML">
		<xs:sequence>
			<xs:element name="parameters" type="openda:BlackBoxStochModelParametersXML" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Specify the model parameters vectors</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="state" type="openda:BlackBoxStochModelStateXML" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Specify the model state vectors</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="predictor" type="openda:BlackBoxStochModelVectorsXML" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Specify the predictor vectors. i.e. the model variables that correspond to the observer variables. This can contain three different types of mappings between model and observer variables:
1. a vector for a mapping between an observed scalar and a scalar in the model. In this case the coordinates are not used and no interpolation is done.
2. a vector for a mapping between an observed grid and a grid in the model. In this case the model values are interpolated to get values at the cell centers of the observed grid. This uses the coordinates of both grids and bilinear interpolation.
3. a subVector for a mapping between an observed scalar and a cell of a grid in the model. In this case the coordinates are not used and no interpolation is done.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="BlackBoxStochModelRestartInfoXML">
		<xs:attribute name="dirPrefix" type="xs:string" use="optional" default="./savedStochModelState_">
			<xs:annotation>
				<xs:documentation>Specify the model directory that will contain a set of restart files for a certain time stamp
				(written when the algorithm requests to store states, read when the algorithm asks to restore a state)</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="noiseModelPrefix" type="xs:string" use="optional" default="./noiseModel_">
			<xs:annotation>
				<xs:documentation>Specify the file name prefix for storing the state of the noise model(s)</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="modelStateFile" type="xs:string" use="optional" default="./modelState.zip">
			<xs:annotation>
				<xs:documentation>Specify the file name prefix for storing the model state (must end with .zip)</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="BlackBoxStochModelConfigXML">
		<xs:sequence>
			<xs:annotation>
				<xs:documentation>Contains the elements in fixed order of occurrence</xs:documentation>
			</xs:annotation>
			<xs:choice>
				<xs:annotation>
					<xs:documentation>Specify either a black box model or a black box model factory</xs:documentation>
				</xs:annotation>
				<xs:element name="modelConfig" type="openda:BlackBoxModelConfigReferenceXML">
					<xs:annotation>
						<xs:documentation>Specify a specific black box model configuration. This can be either by writing directly the model configuration or by referring to a black box model configuration file.</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="modelFactory" type="openda:ActionXML">
					<xs:annotation>
						<xs:documentation>Define a model factory. Specify class or executable, arguments to supply and fail/success checks to perform</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:choice>
			<xs:element name="uncertaintyModule" type="openda:ActionXML" minOccurs="0">
				<xs:annotation>
					<xs:documentation>DEPRECATED. Use of this element is discouraged, use vectorSpecification -> parameters -> uncertaintyModule instead. Define stochastic model through an uncertainty module. Specify class or executable file, arguments to supply and fail/success checks to perform. </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="rangeValidationConfigFile" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Optional. Path and name of a range validation config file (relative to this configuration file) that contains range validation constraints for exchange items.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="boundaryProvider" type="openda:BoundaryProviderXML" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Specify external forcings, being either boundaries, noise on boundaries or boundaries including noise.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="vectorSpecification" type="openda:BlackBoxStochModelVectorSpecificationXML">
				<xs:annotation>
					<xs:documentation>Define stochastic model by specifying the vectors of parameters, state, and/or predictor</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="restartInfo" type="openda:BlackBoxStochModelRestartInfoXML" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Restart dir./files information</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="BoundaryProviderXML">
		<xs:sequence>
			<xs:element name="dataObject" type="openda:BoundaryDataObjectXML">
				<xs:annotation>
					<xs:documentation>The data object containing the forcing data.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="boundaryMapping" type="openda:BoundaryMappingXML" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Specify the operation when imposing the forcing ExchangeItems on the model ExchangeItems.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="BoundaryDataObjectXML">
		<xs:sequence>
			<xs:element name="className" type="xs:string">
				<xs:annotation>
					<xs:documentation>The openda class name of the forcing's data object.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="file" type="xs:string">
				<xs:annotation>
					<xs:documentation>Name of the forcing's data file.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="arg" type="xs:string" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Input argument(s) for the corresponding openda:class</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="BoundaryMappingXML">
		<xs:sequence>
			<xs:element name="operation" type="openda:NoiseOperationTypesXML">
				<xs:annotation>
					<xs:documentation>(set): Replace model ExchangeItem's content by forcing ExchangeItem's content. (add): Add the forcing ExchangeItem's content to the model ExchangeItem's content. (multiply): Multiply the model ExchangeItem's content by the forcing ExchangeItem's content.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="exchangeItem" type="openda:BoundaryExchangeItemXML" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>List the forcing ExchangeItems for which to apply this mapping's operation. If this list is not specified, then the specified operation will be used for all forcing ExchangeItems from the specified file (in that case the model ExchangeItems must have the same ids as the forcing ExchangeItems).</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="BoundaryExchangeItemXML">
		<xs:attribute name="id" type="xs:string" use="required">
			<xs:annotation>
				<xs:documentation>Identity of a forcing ExchangeItem.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="modelExchangeItemId" type="xs:string" use="optional">
			<xs:annotation>
				<xs:documentation>Identity of the model ExchangeItem on which to impose this forcing ExchangeItem. If the model ExchangeItem id equals the id of the forcing ExchangeItem, then this attribute is not needed.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:simpleType name="NoiseOperationTypesXML">
		<xs:annotation>
			<xs:documentation>Type of operation to performed when noise is added to an (parameter or state) exchange item: add the noise to the exchange item's values, multiply the exchange item's values with the noise, or set the values (used in those cases where the noise in fact is a realization)</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="add"/>
			<xs:enumeration value="multiply"/>
			<xs:enumeration value="set"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ParameterTransformationTypesXML">
		<xs:annotation>
			<xs:documentation>Tranformation of correction factor. Two values are possible: 'identity' and 'ln'. The 'identity' means that the correction will be added directly  without any transformation to the adjusted parameter. On the other hand,  'ln' means that correction is transformed logarithmically before it is added to the parameter; this gives a correction, which is a fraction of the parameter value. </xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="identity"/>
			<xs:enumeration value="ln"/>
			<xs:enumeration value="set"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:element name="blackBoxStochModel" type="openda:BlackBoxStochModelConfigXML">
		<xs:annotation>
			<xs:documentation>Configuration file for the Stochastic model class org.openda.blackbox.wrapper.BBStochModelFactory. Specifies either the deterministic model in the modelConfig element, or the model instances generator in the modelFactory element, and the stochastic model that acts as umbrella over the deterministic model, in the vectorSpecification element, and an optional restartInfo element for non-default handling of deterministic model restarts. The element uncertaintyModule is included for backwards compatibility only.</xs:documentation>
		</xs:annotation>
	</xs:element>
</xs:schema>
