core/xmlSchemas/costaStochObserver.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:complexType name="CostaStochObserverXML">
		<xs:attribute name="id" type="xs:string" use="required">
			<xs:annotation>
				<xs:documentation>identifier for this stochastic observer</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="database" type="xs:string" use="required">
			<xs:annotation>
				<xs:documentation>name of sql file with stochastic observations</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
</xs:schema>
