core/xmlSchemas/costaModelFactory.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:complexType name="CostaStochModelFactoryXML">
		<xs:attribute name="modelClass" type="xs:string" use="required">
			<xs:annotation>
				<xs:documentation>
				xml file describing model class for this stoch. model factory
				</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="model" type="xs:string" use="required">
			<xs:annotation>
				<xs:documentation>xml file describing the model</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
</xs:schema>
