core/xmlSchemas/groupStochModelFactory.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2009 sp1 (http://www.altova.com) by ICT (Stichting Deltares) -->
<!--W3C Schema generated by XMLSpy v2009 sp1 (http://www.altova.com)-->
<xs:schema xmlns:openda="http://www.openda.org" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.openda.org" elementFormDefault="qualified" attributeFormDefault="unqualified">
  <xs:complexType name="StochModelFactoryConfigType">
    <xs:sequence>
      <xs:annotation>
        <xs:documentation>Contains the elements in fixed order of occurrence</xs:documentation>
      </xs:annotation>
      <xs:element name="workingDirectory" type="xs:string">
        <xs:annotation>
          <xs:documentation>Specify the directory, relative to the main configuration directory, where the stochastic model factory configuration files are stored</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:choice>
        <xs:annotation>
          <xs:documentation>Select one of the options</xs:documentation>
        </xs:annotation>
        <xs:element name="configFile" type="xs:string">
          <xs:annotation>
            <xs:documentation>Specify the name of the stochastic observer configuration file stored in the working directory</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="configString" type="xs:string">
          <xs:annotation>
            <xs:documentation>Specify the configuration string (whether a configFile or configString is required depends on the choice of stochastic model factory)</xs:documentation>
          </xs:annotation>
        </xs:element>
      </xs:choice>
    </xs:sequence>
    <xs:attribute name="className" type="xs:string" use="required">
      <xs:annotation>
        <xs:documentation>Set the openda:java class name of the stochastic observer</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="id" type="xs:string" use="required">
      <xs:annotation>
        <xs:documentation>id</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="GroupStochModelFactoryConfigType">
    <xs:sequence>
      <xs:element name="stochModelFactory" type="openda:StochModelFactoryConfigType" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Specify the directory, relative to the main configuration directory, where the stochastic model factory configuration files are stored</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="groupStochModelFactory" type="openda:GroupStochModelFactoryConfigType">
    <xs:annotation>
      <xs:documentation>Group of stoch model factories</xs:documentation>
    </xs:annotation>
  </xs:element>
</xs:schema>
