core/xmlSchemas/threadConfig.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2009 sp1 (http://www.altova.com) by ICT (Stichting Deltares) -->
<!--W3C Schema generated by XMLSpy v2009 sp1 (http://www.altova.com)-->
<xs:schema xmlns:openda="http://www.openda.org" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.openda.org" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:complexType name="ThreadConfigType">
		<xs:sequence>
			<xs:element name="maxThreads" type="xs:integer"/>
			<xs:element name="numThreadsGroups" type="xs:integer"/>
			<xs:element name="stochModelFactory" type="openda:ThreadStochModelFactoryConfigType"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ThreadStochModelFactoryConfigType">
		<xs:sequence>
			<xs:element name="workingDirectory" type="xs:string"/>
			<xs:element name="configFile" type="xs:string"/>
		</xs:sequence>
		<xs:attribute name="className" type="xs:string" use="required"/>
	</xs:complexType>
	<xs:element name="threadConfig" type="openda:ThreadConfigType">
		<xs:annotation>
			<xs:documentation>Configuration of a multithreaded stochModelFactory. The ensemble members will be distributed over the specified number of threads, thus supporting parallel execution of ensemble members.</xs:documentation>
		</xs:annotation>
	</xs:element>
</xs:schema>
