model_swan/xmlSchemas/swanCalibWrapperConfig.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2009 sp1 (http://www.altova.com) by ICT (Stichting Deltares) -->
<!--W3C Schema generated by XMLSpy v2008 rel. 2 (http://www.altova.com)-->
<xs:schema xmlns:openda="http://www.openda.org" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.openda.org" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:include schemaLocation="./blackBoxWrapperConfig.xsd"/>
	<xs:complexType name="SwanCalibWrapperConfigXML">
		<xs:all>
			<xs:element name="swanAction" type="openda:ActionXML">
				<xs:annotation>
					<xs:documentation>The executable to be run, and its arguments</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="swivtParameters" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Configuration file containing  SWIVT parameters.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="nonSwivtParameters" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Additional parameters not defined in swift xml file.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="swanInputTemplate" type="xs:string">
				<xs:annotation>
					<xs:documentation>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="actualSwanInput" type="xs:string">
				<xs:annotation>
					<xs:documentation>Actual SWAN input file.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="observationLocations" type="xs:string">
				<xs:annotation>
					<xs:documentation>File containing the coordinates of observation locations.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="swanResults" type="xs:string">
				<xs:annotation>
					<xs:documentation>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="windInterpolationTable" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>File that contains wind interpolation table data.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="perturbedValuesValidation" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>File that contains validation rules for perturbed values.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="cleanupAction" type="openda:ActionXML" minOccurs="0">
				<xs:annotation>
					<xs:documentation>The cleanup action to be performed after the executable has run			</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:all>
	</xs:complexType>
	<xs:element name="swanCalibWrapperConfig" type="openda:SwanCalibWrapperConfigXML">
		<xs:annotation>
			<xs:documentation>Configuration of SWAN model wrapper.</xs:documentation>
		</xs:annotation>
	</xs:element>
</xs:schema>
