core/xmlSchemas/noiseModels/noiseModelSharedTypes.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2009 sp1 (http://www.altova.com) by ICT (Stichting Deltares) -->
<!--W3C Schema generated by XMLSpy v2009 sp1 (http://www.altova.com)-->
<xs:schema xmlns="http://www.openda.org" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.openda.org" elementFormDefault="qualified">
	<xs:simpleType name="timespanXML">
		<xs:restriction base="xs:string">
			<xs:pattern value="[0-9., ]+"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="timespanFormatXML">
		<xs:restriction base="xs:string">
			<xs:enumeration value="mjd"/>
			<xs:enumeration value="dateTimeString"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="simulationTimespanXML">
		<xs:simpleContent>
			<xs:extension base="timespanXML">
				<xs:attribute name="timeFormat" type="xs:string" use="required">
					<xs:annotation>
						<xs:documentation>Format for the simulation time span specification (mjd or </xs:documentation>
					</xs:annotation>
				</xs:attribute>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:simpleType name="timeCorrelationScaleUnitXML">
		<xs:restriction base="xs:string">
			<xs:enumeration value="days"/>
			<xs:enumeration value="hours"/>
			<xs:enumeration value="minutes"/>
			<xs:enumeration value="seconds"/>
		</xs:restriction>
	</xs:simpleType>
</xs:schema>
