core/xmlSchemas/noiseModels/timeSeriesNoiseModel.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns="http://www.openda.org" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.openda.org" elementFormDefault="qualified">
	<xs:include schemaLocation="noiseModelSharedTypes.xsd"/>
	<xs:complexType name="noiseTimeseriesXML">
		<xs:annotation>
			<xs:documentation>time series containing the values generated by the noise model</xs:documentation>
		</xs:annotation>
		<xs:attribute name="id" type="xs:string" use="required">
			<xs:annotation>
				<xs:documentation>The identifier for the time series</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="initialValue" type="xs:double" use="optional" default="0.0">
			<xs:annotation>
				<xs:documentation>The initial value for the generated noise</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="standardDeviation" type="xs:double" use="required">
			<xs:annotation>
				<xs:documentation>The standard deviation for the generated noise</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="timeCorrelationScale" type="xs:double" use="required">
			<xs:annotation>
				<xs:documentation>Time interval speficying the correlation between the consecutive values</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="timeCorrelationScaleUnit" type="timeCorrelationScaleUnitXML" use="optional" default="days">
			<xs:annotation>
				<xs:documentation>The unit for the time correlation scale</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="timezone" type="xs:string" use="optional">
			<xs:annotation>
				<xs:documentation>Time zone for the noise time series (GMT, CET, etc ...). Currently not supported</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="quantity" type="xs:string" use="optional">
			<xs:annotation>
				<xs:documentation>The quantity contained in the time series</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="unit" type="xs:string" use="optional">
			<xs:annotation>
				<xs:documentation>The unit of the quantity contained in the time series</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="location" type="xs:string" use="optional">
			<xs:annotation>
				<xs:documentation>(Fictitious) Location of the time series</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="position" type="xs:string" use="optional">
			<xs:annotation>
				<xs:documentation>(Fictitious) Position of the time series</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="source" type="xs:string" use="optional">
			<xs:annotation>
				<xs:documentation>The source of the time series (usually: generated)</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="height" type="xs:string" use="optional">
			<xs:annotation>
				<xs:documentation>Deprecated</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="timeseriesNoiseModelConfigXML">
		<xs:sequence>
			<xs:element name="simulationTimespan" type="simulationTimespanXML"/>
			<xs:element name="timeSeries" type="noiseTimeseriesXML" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="timeSeriesNoiseModelConfig" type="timeseriesNoiseModelConfigXML">
		<xs:annotation>
			<xs:documentation>Configuration for OpenDA's noise model</xs:documentation>
		</xs:annotation>
	</xs:element>
</xs:schema>
